_backup/
docs/generated
docs/libmdal
documentation
libmdal/unittests/test_builds/
libmdal/docs/generated
tclkit/
cfg/
roms/
resources/icons/*.png.*.png
*.swp
*.org~
.#*
\#*#
*~
*.so
*.import.*
*.backup
PROFILE.*
*.so.PROFILE
bt.db
bintracker
libmdal/unittests/modules/save-test.mdal
chicken-repository-path
TAGS