_backup/
docs/generated
docs/libmdal
documentation
libmdal/unittests/test_builds/
libmdal/docs/generated
tclkit/
cfg/
roms/a2600
roms/channelf
roms/mz700
roms/spectrum/spectrum.rom
build/*
!build/Makefile
resources/icons/*.png.*.png
resources/bt-theme.tcl
*.swp
*.org~
.#*
\#*#
*~
*.so
*.import.*
*.backup
PROFILE.*
*.so.PROFILE
bt.db
bintracker
libmdal/unittests/modules/save-test.mdal
chicken-repository-path
TAGS