_backup/
docs/generated
documentation
libmdal/unittests/test_builds/
libmdal/docs/html
libmdal/docs/generated
tclkit/
cfg/
*.swp
*.org~
.#*
\#*#
*~
*.so
*.import.*
*.backup
libmdal/unittests/modules/save-test.mdal
chicken-repository-path
TAGS