site_name: "Bintracker Documentation"

repo_name: bintracker/bintracker
repo_url: 'https://github.com/bintracker/bintracker'
edit_uri: ""
docs_dir: 'build/gendoc/'

theme:
  name: 'material'
  custom_dir: 'resources/material/'
  font: false
  favicon: 'assets/images/favicon.png'
  language: en
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: deep purple
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: deep purple
  logo: 'assets/images/logo.svg'
  features:
    - navigation.footer
  include_search_page: false
  search_index_only: true
  static_templates:
    - 404.html

plugins:
  - search
  - offline

site_dir: 'build/documentation'

nav:
  - Main: index.md
  - User Manual:
      - Introduction: about.md
      - Quickstart: quickstart.md
      - Setup: setup.md
      - Configuration: configuration.md
      - "Key Bindings": keybindings.md
      - "Editing Modules": editing.md
      - "The REPL": repl.md
      - Plugins:
          - Overview: plugins.md
          - mml: 'plugins/mml/README.md'
          - prng: 'plugins/prng/README.md'
          - snippets: 'plugins/snippets/README.md'
          - unzufall: 'plugins/unzufall/README.md'
  - "Developer Documentation":
      - "Getting Started": hacking.md
      - Quickref: quickref.md
      - "Style Guide": style-guide.md
      - "TODO List": TODO.md
      - "Writing Plugins": writing-plugins.md
      - "Bintracker API":
         - "bintracker-core": 'generated/bintracker-core.md'
         - "bt-types": 'generated/bt-types.md'
         - "bt-state": 'generated/bt-state.md'
         - "bt-maths": 'generated/bt-maths.md'
         - "bt-gui": 'generated/bt-gui.md'
         - "bt-gui-lolevel": 'generated/bt-gui-lolevel.md'
         - "bt-emulation": 'generated/bt-emulation.md'
         - "bt-db": 'generated/bt-db.md'
      - MDAL:
        - Introduction: 'mdal-introduction.md'
        - "Modules (MMOD)": 'MMOD_SPECIFICATION.md'
        - "Engine Definitions (MDEF)": 'MDEF_SPECIFICATION.md'
        - "libmdal API":
          - "mdal": 'generated/mdal.md'
          - "md-types": 'generated/md-types.md'
          - "md-helpers": 'generated/md-helpers.md'
          - "md-def" : 'generated/md-def.md'
          - "md-command": 'generated/md-command.md'
          - "md-parser": 'generated/md-parser.md'
          - utils:
              - "md-audio": 'generated/utils/md-audio.md'
              - "md-note-table": 'generated/utils/md-note-table.md'
      - "Schemta Assembler":
          - Introduction: 'schemta.md'
          - Schemta API: 'generated/schemta.md'
      - "Additional Bindings": 'additional-bindings.md'
      - Examples: examples.md
  - "Frequently Asked Questions": FAQ.md
  - Contributing: contributing.md
  - "Code of Conduct": CODE_OF_CONDUCT.md
  - "Fan Art": fanart.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

use_directory_urls: false
