(keymap
 global: ((<Control-q> exit-bintracker)
	  (<Control-w> close-file)
	  (<Control-o> load-file)
	  (<Control-s> save-file)
	  (<Control-Shift-s> save-file-as)
	  (<Control-Shift-Tab> focus-previous-ui-zone)
	  (<Control-Tab> focus-next-ui-zone)
	  (<F1> launch-help))
 console: ((<Return> eval-console)
	   (<Control-l> clear-console))
 note-entry: ((<Key-y> "c")
	      (<Key-s> "c#")
	      (<Key-x> "d")
	      (<Key-d> "d#")
	      (<Key-c> "e")
	      (<Key-v> "f")
	      (<Key-g> "f#")
	      (<Key-b> "g")
	      (<Key-h> "g#")
	      (<Key-n> "a")
	      (<Key-j> "a#")
	      (<Key-m> "b")
	      (<Key-k> "c" 1)
	      (<Key-comma> "d" 1)
	      (<Key-l> "d#" 1)
	      (<Key-period> "e" 1)
	      (<Key-q> "c" 1)
	      (<Key-2> "c#" 1)
	      (<Key-w> "d" 1)
	      (<Key-3> "d#" 1)
	      (<Key-e> "e" 1)
	      (<Key-r> "f" 1)
	      (<Key-5> "f#" 1)
	      (<Key-t> "g" 1)
	      (<Key-6> "g#" 1)
	      (<Key-z> "a" 1)
	      (<Key-7> "a#" 1)
	      (<Key-u> "b" 1)
	      (<Key-i> "c" 2)
	      (<Key-9> "c#" 2)
	      (<Key-o> "d" 2)
	      (<Key-0> "d#" 2)
	      (<Key-p> "e" 2)))
