(keymap
 global: ((<Control-q> exit-bintracker)
	  (<Control-w> close-file)
	  (<Control-n> new-file)
	  (<Control-o> load-file)
	  (<Control-s> save-file)
	  (<Control-S> save-file-as)
	  (<Control-z> undo)
	  (<Control-y> redo)
	  (<Control-b> focus-previous-ui-zone)
	  (<Control-f> focus-next-ui-zone)
	  (<F1> launch-help)
	  (<F5> play-from-start)
	  (<F7> play-pattern)
	  (<F8> stop-playback)
	  (<Alt-w> what)
	  (<Alt-W> where))
 console: ((<Return> eval-console)
	   (<Control-l> clear-console)
	   (<Alt-p> previous-command)
	   (<Alt-n> next-command))
 edit: ((<Control-ISO_Left_Tab> focus-previous-subgroup)
	(<Control-Tab> focus-next-subgroup)
	(<Control-a> select-current-blocks)
	(<Control-A> select-all-blocks)
	(<Control-x> clear)
	(<Delete> delete)
	(<Key-period> repeat-last-step)
	(<Control-BackSpace> cut-row)
	(<BackSpace> cut-step)
	(<Control-Insert> insert-row)
	(<Insert> insert-step)
	(<Control-c> copy)
	(<Control-V> insert-from-clipboard)
	(<Control-X> cut-selection)
	(<Control-v> paste)
	(<Control-p> porous-paste-under)
	(<Control-P> porous-paste-over)
	(<Control-Alt-v> swap)
	(<Key-period> repeat-last-set)
	(<Control-u> transpose-note-up)
	(<Control-d> transpose-note-down)
	(<Control-U> transpose-octave-up)
	(<Control-D> transpose-octave-down)
	(<Control-Alt-u> raise1)
	(<Control-Alt-d> lower1)
	(<Control-Alt-U> raise-unit)
	(<Control-Alt-D> lower-unit)
	(<Control-i> interpolate-linear)
	(<Control-I> interpolate-cosine)
	(<Control-t> invert-current)
	(<Control-question> randomize-current)
	(<Control-l> scale-current)
	(<Control-r> reverse-current)
	(<Control-h> shuffle-current)
	(<Control-H> shuffle-synced-current))
 note-entry: ((<Key-1> "rest")
	      (<Key-z> "c")
	      (<Key-Z> "c" -1)
	      (<Key-s> "c#")
	      (<Key-S> "c#" -1)
	      (<Key-x> "d")
	      (<Key-X> "d" -1)
	      (<Key-d> "d#")
	      (<Key-D> "d#" -1)
	      (<Key-c> "e")
	      (<Key-C> "e" -1)
	      (<Key-v> "f")
	      (<Key-V> "f" -1)
	      (<Key-g> "f#")
	      (<Key-G> "f#" -1)
	      (<Key-b> "g")
	      (<Key-B> "g" -1)
	      (<Key-h> "g#")
	      (<Key-H> "g#" -1)
	      (<Key-n> "a")
	      (<Key-N> "a" -1)
	      (<Key-j> "a#")
	      (<Key-J> "a#" -1)
	      (<Key-m> "b")
	      (<Key-M> "b" -1)
	      (<Key-comma> "c" 1)
	      (<Key-less> "c" 2)
	      (<Key-l> "c#" 1)
	      (<Key-q> "c" 1)
	      (<Key-Q> "c" 2)
	      (<Key-2> "c#" 1)
	      (<Key-at> "c#" 2)
	      (<Key-w> "d" 1)
	      (<Key-W> "d" 2)
	      (<Key-3> "d#" 1)
	      (<Key-numbersign> "d#" 2)
	      (<Key-e> "e" 1)
	      (<Key-E> "e" 2)
	      (<Key-r> "f" 1)
	      (<Key-R> "f" 2)
	      (<Key-5> "f#" 1)
	      (<Key-percent> "f#" 2)
	      (<Key-t> "g" 1)
	      (<Key-T> "g" 2)
	      (<Key-6> "g#" 1)
	      (<Key-asciicircum> "g#" 2)
	      (<Key-y> "a" 1)
	      (<Key-Y> "a" 2)
	      (<Key-7> "a#" 1)
	      (<Key-ampersand> "a#" 2)
	      (<Key-u> "b" 1)
	      (<Key-U> "b" 2)
	      (<Key-i> "c" 2)
	      (<Key-I> "c" 3)
	      (<Key-9> "c#" 2)
	      (<Key-parenleft> "c#" 3)
	      (<Key-o> "d" 2)
	      (<Key-O> "d" 3)
	      (<Key-0> "d#" 2)
	      (<Key-parenright> "d#" 3)
	      (<Key-p> "e" 2)
	      (<Key-P> "e" 3)))
