(keymap
 global: ((<Control-q> exit-bintracker)
	  (<Control-w> close-file)
	  (<Control-n> new-file)
	  (<Control-o> load-file)
	  (<Control-s> save-file)
	  (<Control-S> save-file-as)
	  (<Control-z> undo)
	  (<Control-y> redo)
	  (<Control-ISO_Left_Tab> focus-previous-ui-zone)
	  (<Control-Tab> focus-next-ui-zone)
	  (<F1> launch-help)
	  (<F5> play-from-start)
	  (<F7> play-pattern)
	  (<F8> stop-playback)
	  (<Alt-w> what)
	  (<Alt-W> where))
 console: ((<Return> eval-console)
	   (<Control-l> clear-console))
 edit: ((<Control-a> select-current-blocks)
	(<Control-A> select-all-blocks)
	(<Control-x> clear)
	(<Delete> delete)
	(<Key-period> repeat-last-step)
	(<Control-BackSpace> cut-row)
	(<BackSpace> cut-step)
	(<Control-Insert> insert-row)
	(<Insert> insert-step)
	(<Control-c> copy)
	(<Control-V> insert-from-clipboard)
	(<Control-X> cut-selection)
	(<Control-v> paste)
	(<Control-Alt-v> swap)
	(<Key-period> repeat-last-set)
	(<Control-u> transpose-note-up)
	(<Control-d> transpose-note-down)
	(<Control-U> transpose-octave-up)
	(<Control-D> transpose-octave-down)
	(<Control-Alt-u> raise1)
	(<Control-Alt-d> lower1)
	(<Control-Alt-U> raise-unit)
	(<Control-Alt-D> lower-unit)
	(<Control-i> interpolate-linear)
	(<Control-I> interpolate-cosine)
	(<Control-t> invert-current)
	(<Control-question> randomize-current)
	(<Control-l> scale-current)
	(<Control-r> reverse-current))
 note-entry: ((<Key-ampersand> "rest")
	      (<Key-w> "c")
	      (<Key-W> "c" -1)
	      (<Key-s> "c#")
	      (<Key-S> "c#" -1)
	      (<Key-x> "d")
	      (<Key-X> "d" -1)
	      (<Key-d> "d#")
	      (<Key-D> "d#" -1)
	      (<Key-c> "e")
	      (<Key-C> "e" -1)
	      (<Key-v> "f")
	      (<Key-V> "f" -1)
	      (<Key-g> "f#")
	      (<Key-G> "f#" -1)
	      (<Key-b> "g")
	      (<Key-B> "g" -1)
	      (<Key-h> "g#")
	      (<Key-H> "g#" -1)
	      (<Key-n> "a")
	      (<Key-N> "a" -1)
	      (<Key-j> "a#")
	      (<Key-J> "a#" -1)
	      (<Key-comma> "b")
	      (<Key-question> "b" -1)
	      (<Key-semicolon> "c" 1)
	      (<Key-period> "c" 2)
	      (<Key-l> "c#" 1)
	      (<Key-a> "c" 1)
	      (<Key-A> "c" 2)
	      (<Key-eacute> "c#" 1)
	      (<Key-2> "c#" 2)
	      (<Key-z> "d" 1)
	      (<Key-Z> "d" 2)
	      (<Key-quotedbl> "d#" 1)
	      (<Key-3> "d#" 2)
	      (<Key-e> "e" 1)
	      (<Key-E> "e" 2)
	      (<Key-r> "f" 1)
	      (<Key-R> "f" 2)
	      (<Key-parenleft> "f#" 1)
	      (<Key-5> "f#" 2)
	      (<Key-t> "g" 1)
	      (<Key-T> "g" 2)
	      (<Key-minus> "g#" 1)
	      (<Key-6> "g#" 2)
	      (<Key-y> "a" 1)
	      (<Key-Y> "a" 2)
	      (<Key-egrave> "a#" 1)
	      (<Key-7> "a#" 2)
	      (<Key-u> "b" 1)
	      (<Key-U> "b" 2)
	      (<Key-i> "c" 2)
	      (<Key-I> "c" 3)
	      (<Key-ccedilla> "c#" 2)
	      (<Key-9> "c#" 3)
	      (<Key-o> "d" 2)
	      (<Key-O> "d" 3)
	      (<Key-agrave> "d#" 2)
	      (<Key-0> "d#" 3)
	      (<Key-p> "e" 2)
	      (<Key-P> "e" 3)))
